[Unit]
Description=Control Plane Service
After=network.target

[Service]
User=ubuntu
EnvironmentFile=/home/ubuntu/hostedservice/conf.env
WorkingDirectory=/home/ubuntu/hostedservice/python/
ExecStart=/usr/local/bin/uvicorn hosted.control_plane_app:app --host 0.0.0.0 --port 8080
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target